{% extends './base.html' %}
{% load static %}

 {% block content %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pauta solemne</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <header>

    <div class="container">
      <div class="row">
        <!-- <div class="col-md-12">
          <a href="index.html" class="brand">
            <img src="images/logo_3.png" alt="Logo UNAB" >
          </a>
        </div> -->

        <nav class="navbar navbar-inverse navbar-cutom-menu">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">Brand</a> -->
              <a href="index.html" class="navbar-brand brand">
                <img src="{% static 'images/logo_3.png' %}" alt="Logo UNAB" >
              </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
        
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">Nosotros</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Servicio A</a></li>
                    <li><a href="#">Servicio B</a></li>
                    <li><a href="#">Servicio C</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Todos los servicios</a></li>
                  </ul>
                <li><a href="#">Contacto</a></li>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="col-lg-9 col-sm-12">
        <div class="well row">

          <h3>Bienvenido!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab, adipisci tempora velit mollitia est consequuntur laborum, ratione delectus quis iure, hic veritatis eligendi molestiae. Fugit porro dignissimos, sequi quam?</p>
          <p class="text-right"><button class="btn btn-primary btn-lg">Inscribete!</button></p>
        </div>
        <div class="row">
          <div class="col-lg-4 aside">
            <div class="row">
              <div class="col-sm-4 col-lg-12">                
                <img src="http://placehold.it/300x200" alt="" class="img-thumbnail">
              </div>
              <div class="col-sm-8 col-lg-12">            
                <h4>Lorem ipsum dolor sit amet</h4>
                <p class="text-justify">Consectetur adipisicing elit. Nisi molestias voluptatum vitae debitis voluptatibus magni perspiciatis voluptate laboriosam, totam reiciendis? Facere accusamus delectus fuga ipsum veritatis consectetur excepturi magni omnis.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <img src="http://placehold.it/500x300" alt="" class="img-responsive img-thumbnail">
                <p><a href="noticia_detalle.html">Consectetur adipisicing elit. </a></p>
                <p><span class="label label-info">Noticias</span></p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <img src="http://placehold.it/500x300" alt="" class="img-responsive img-thumbnail">
                <p><a href="noticia_detalle.html">Nisi molestias voluptatum vitae </a></p>
                <p><span class="label label-info">Educación</span></p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <img src="http://placehold.it/500x300" alt="" class="img-responsive img-thumbnail">
                <p><a href="noticia_detalle.html">Voluptatum vitae debitis voluptatibus</a></p>
                <p><span class="label label-info">Noticias</span></p>
              </div>              

              <div class="col-xs-6 col-sm-4">
                <img src="http://placehold.it/500x300" alt="" class="img-responsive img-thumbnail">
                <p><a href="noticia_detalle.html">Molestias voluptatum vitae debitis</a></p>
                <p><span class="label label-info">Educación</span></p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <img src="http://placehold.it/500x300" alt="" class="img-responsive img-thumbnail">
                <p><a href="noticia_detalle.html">Nisi molestias voluptatum</a></p>
                <p><span class="label label-info">Educación</span></p>
              </div>
              <div class="col-xs-6 col-sm-4">
                <img src="http://placehold.it/500x300" alt="" class="img-responsive img-thumbnail">
                <p><a href="noticia_detalle.html">Voluptatibus consectetur adipisicing elit</a></p>
                <p><span class="label label-info">Educación</span></p>
              </div>              
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 visible-lg">
        <img src="http://placehold.it/400x800" alt="" class="img-responsive">
      </div>
    </div>
  </section>
      
          
      {% endblock %}

  <footer>
    <div class="container">
      <div class="col-md-12">
        <p class="text-center">Desarrollo Web 2017</p>
      </div>
    </div>
  </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
